:root {
  --bg-light: #ffffff;
  --bg-dark: #0a192f;
  --text-light: #000000;
  --text-dark: #ffffff;
  --sidebar-dark: #091a2a;
}

body {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.sidebar {
  background-color: var(--sidebar-dark);
}

.navbar, .footer {
  transition: background-color 0.3s;
}

body.dark-mode .navbar {
  background-color: var(--sidebar-dark);
  color: var(--text-dark);
}

body.dark-mode .footer {
  background-color: var(--sidebar-dark);
  color: var(--text-dark);
}
